<!-- <p>recommedation works!</p> -->
<mat-grid-list class="grid-container" cols="4" rowHeight="1.50:2.60">
    <mat-grid-tile *ngFor="let data of allRecommendedMovies">
      <mat-card class="example-card">
        <div>
          <img mat-card-image src="https://image.tmdb.org/t/p/w300/{{data.poster_path }}">
          <mat-card-title>{{data.original_title}}</mat-card-title>
        </div>
        <mat-card-content>
          <mat-card-subtitle>vote: {{data.vote_average}} </mat-card-subtitle>
          <mat-card-subtitle>Release Date:{{data.release_date}} </mat-card-subtitle>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
  <!--<div style="margin-left: 350px; ">
    <button [disabled]="currentPg<=1" (click)="decreasePage()">Previous Page</button><button [disabled]="currentPg>=33349"
      (click)="increasePage()">Next Page</button>
  </div> -->
  <!-- (click)="movieDetails(data)" -->
