<!-- <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div> -->
<!-- ---------------------------------------------------------------------------------- -->

<mat-grid-list class="grid-container" cols="4" rowHeight="1.50:2.60">
  <!-- <div class="row"> -->
    <!-- <div class="col-lg-4 col-md-4 col-sm-12"> -->
      <mat-grid-tile *ngFor="let data of allMovies">
        <mat-card class="example-card"  (click)="movieDetails(data)">
          <div>
            <!-- <img mat-card-image src={{data.backdrop_path&&data.poster_path}}> -->
            <img mat-card-image src="https://image.tmdb.org/t/p/w300/{{data.poster_path }}">
            <mat-card-title>{{data.original_title}}</mat-card-title>
          </div>
          <mat-card-content>
            <mat-card-subtitle>vote: {{data.vote_average}} </mat-card-subtitle>
            <mat-card-subtitle>Release Date:{{data.release_date}}            </mat-card-subtitle>

          </mat-card-content>
          <!-- <mat-card-actions>
            <button routerLink="order-pizza" routerLinkActive="active" mat-raised-button color="primary">fav</button>
          </mat-card-actions> -->
        </mat-card>
      </mat-grid-tile>
    <!-- </div> -->
  <!-- </div> -->
</mat-grid-list>
<!-- <div class="card style_1">
  <div class="image">
    <div class="wrapper">
      <a class="image" href="/movie/414906" title="The Batman">
      <img loading="lazy" class="poster" src="/t/p/w220_and_h330_face/74xTEgt7R36Fpooo50r9T25onhq.jpg" srcset="/t/p/w220_and_h330_face/74xTEgt7R36Fpooo50r9T25onhq.jpg 1x, /t/p/w440_and_h660_face/74xTEgt7R36Fpooo50r9T25onhq.jpg 2x" alt="">
      </a>
    </div>
    <div class="options" data-id="414906" data-object-id="57d1b0c49251410cae0003fd" data-media-type="movie" data-role="tooltip">
      <a class="no_click" href="#"><div class="glyphicons_v2 circle-more white"></div></a>
    </div>
  </div>
  <div class="content">
    <div class="consensus tight">
      <div class="outer_ring">
        <div class="user_score_chart 57d1b0c49251410cae0003fd" data-percent="78.0" data-track-color="#204529" data-bar-color="#21D07A">
          <div class="percent">
              <span class="icon icon-r78"></span>
          </div>
        <canvas height="34" width="34"></canvas></div>
      </div>
    </div>
    <h2><a href="/movie/414906" title="The Batman">The Batman</a></h2>
    <p>Mar 01, 2022</p>
  </div>
  <div class="hover 414906"></div>
</div> -->