<!-- <div class="container">
    <div class="row">
        <div class="col-lg-4">
            <mat-card class="example-card">
                <mat-card-header>
                  <div mat-card-avatar class="example-header-image"></div>
                  <mat-card-title>Shiba Inu</mat-card-title>
                  <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">

                <mat-card-content>
                  <p>
                    The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                    A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                    bred for hunting.
                  </p>
                </mat-card-content>
                <mat-card-actions>
                  <button mat-button>LIKE</button>
                  <button mat-button>SHARE</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div> -->
<!-- ---------------------------------------------------------------------------------- -->

<mat-grid-list class="grid-container" cols="4" rowHeight="1.50:2.60">
  <!-- <div class="row"> -->
    <!-- <div class="col-lg-4 col-md-4 col-sm-12"> -->
      <mat-grid-tile *ngFor="let data of allMovies">
        <mat-card class="example-card"  (click)="movieDetails(data)">
          <div>
            <!-- <img mat-card-image src={{data.backdrop_path&&data.poster_path}}> -->
            <img mat-card-image src="https://image.tmdb.org/t/p/w300/{{data.poster_path }}">
            <mat-card-title>{{data.original_title}}</mat-card-title>
          </div>
          <mat-card-content>
            <mat-card-subtitle>vote: {{data.vote_average}} </mat-card-subtitle>
            <mat-card-subtitle>Release Date:{{data.release_date}}            </mat-card-subtitle>

          </mat-card-content>
          <!-- <mat-card-actions>
            <button routerLink="order-pizza" routerLinkActive="active" mat-raised-button color="primary">fav</button>
          </mat-card-actions> -->
        </mat-card>
      </mat-grid-tile>
    <!-- </div> -->
  <!-- </div> -->
</mat-grid-list>
